/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $light-color;
    }
  }
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

@media (max-width: 700px) {
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
