@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// $primary-color: #003699;
// $dark-color: #333333;
// $light-color: #f4f4f4;
// $danger-color: #dc3545;
// $success-color: #28a745;

$primary-color: #832232;
$dark-color: #0b0033;
$light-color: #eaf27c;
$danger-color: #370031;
$success-color: #ce8964;
